aniso8601
beautifulsoup4
certifi
chardet
Click
extraction
Flask
Flask-GraphQL
graphene
graphql-core
graphql-relay
graphql-server-core
html5lib
idna
itsdangerous
Jinja2
MarkupSafe
promise
requests
Rx
six
urllib3
webencodings
Werkzeug
